body>h1{
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica,;
    
    
}
ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav :hover{
    background-color: palevioletred;
    color: black;
    display: flex;
}

.photos{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}
.box1>h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box1>img{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.box2>h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box2>img{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.box3>h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box3>img{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.box4>h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box4>img{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.box5>h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box5>img{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.box6>h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box6>img{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


